@charset "utf-8";

/**
 *
 * common: 共通
 *
 */
 body {
	width: 100%;
	overflow: hidden;
	min-width: 1180px;
}
.sp-show {
	display: none !important;
}
@media all and (max-width: 767px){
	.pc-show {
		display: none !important;
	}
	.sp-show {
		display: block !important;
	}
}
/****************************
 JS Sync
****************************/
#Page {
	opacity:0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	
}
#Page.active {
	opacity:1;
}
.pace { -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; } .pace-inactive { display: none; } .pace .pace-progress { background: -moz-linear-gradient(45deg, #f7e268 0%, #6ecbeb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e268', endColorstr='#6ecbeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ position: fixed; z-index: 2000; top: 0; right: 100%; width: 100%; height: 3px; }
.view {
	opacity:0;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
	transform: translate(0,80px);
    -webkit-transform: translate(0,80px);
}
.move {
	opacity:1 !important;
	transform: translate(0,0) !important;
    -webkit-transform: translate(0,0) !important;
}
/****************************
 Animation
****************************/
@keyframes navMove {
	0% {right:-320px;}
	100% {right:0px;}
}
@keyframes navFadein {
	0% {opacity:0;}
	100% {opacity:1;}
} 
/*#Loading {
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	z-index: 30000;
	text-align: center;
}
#Loading div {
	position: fixed;
	top: 50%;
	width: 100%;
}*/
/*================================
	Header
================================*/
#Header{
	position: relative;
	z-index: 1000;
}
#HeaderInner {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
}
#Title {
	width: 180px;
	height: 160px;
	position: absolute;
	top: 0;
	right: 0;
}
#Title a{
	display: block;
	width: 180px;
	height: 160px;
	line-height: 160px;
	background: #fff;
	text-align: center;
}
#Title img {
	width: 100px;
	height: auto;
	vertical-align: middle;
}

/*================================
	Nav
================================*/
#Header .menu {
	display: none;
}
#GlobalNav {
	display: inline-block;
	height: 100px;
	padding: 70px 0 0 0;
	position: relative;
}
#GlobalNav li {
	display: inline-block;
	margin: 0 40px 0 0;
}
#ConversionNav {
	position: absolute;
	top:0;
	right: 180px;
	overflow: hidden;
}
#ConversionNav li {
	display: block;
	float: right;
	width: 180px;
	margin: 0 1px 0 0;
}
#ConversionNav li a{
	width: 180px;
	height: 160px;
	line-height: 160px;
	text-align: center;
	background: #535f6c;
	position: relative;
}
#ConversionNav li a:before {
	content: "";
	display: block;
	width: 180px;
	height: 160px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/nav-bg.jpg) no-repeat center center;
	background-size: cover;
	opacity: 0;
}
#GlobalNav li a,
#ConversionNav li a{
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	position: relative;
}
#ConversionNav li a:hover:before{
	opacity: 1;
}
#ConversionNav li a:hover{
	color: #535f6c;
}
#ConversionNav li a span {
	position: relative;
}
#GlobalNav li a {
	padding: 0 0 20px 0;
}
#GlobalNav li a:after {
	content: "";
	display: block;
	background: -moz-linear-gradient(45deg, #f7e268 0%, #6ecbeb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e268', endColorstr='#6ecbeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 0;
}

#GlobalNav li.active a:after,
#GlobalNav li a:hover:after{
	width: 100%;
}

/*================================
	section
================================*/

section div.section-inner {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
}
#Contents section {
	padding: 80px 0;
}
#Contents div.section-inner h2 {
	font-size: 38px;
	font-weight: 600;
	letter-spacing: 8px;
	color: #6e7d85;
	text-align: center;
}
#Contents div.section-inner h2 span {
	display: block;
	font-size: 14px;
	margin: 15px 0 0 0;
	letter-spacing: 5px;
}
#Contents div.section-inner h2 span:after{
	content: "";
	display: block;
	width: 100%;
	height: 15px;
	margin: 15px 0 0 0;
	background: url(../images/ico-curve.png) no-repeat center top;
}
#Contents h3 {
	font-size: 20px;
}
#Contents h4 {
	font-size: 18px;
}
#Contents h4,
#Contents h3{
	line-height: 1.7;
	color: #6e7d85;
}
#Contents p{
	line-height: 2;
	letter-spacing: 1.5px;
}
#Contents .wrap:after {
	content: "";
	display: block;
	clear: both;
}
#Contents .wrap > div {
	width: 50%;
	float: left;
}
#Contents .wrap > div:nth-child(odd) {
	padding: 0 20px 0 0;
}
#Contents .wrap > div:nth-child(even) {
	padding: 0 0 0 20px;
}
#Contents div.image img {
	width: 100%;
	height: auto;
}
/*================================
	conversion
================================*/
section.conversion{
	padding: 0 !important;
}
section.conversion:after {
	content: "";
	display: block;
	clear: both;
}
section.conversion > div{
	width: 50%;
	float: left;
	text-align: center;
	height: 280px;
	font-weight: bold;
}
section.conversion .survey{
	background: -moz-linear-gradient(45deg, #f7e268 0%, #6ecbeb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e268', endColorstr='#6ecbeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
section.conversion .inner{
	width: 100%;
	height: 280px;
	padding: 50px 0 0 0;
}
section.conversion .survey .inner{
	color: #6b7a82;
	background: url(../images/cvs-research.png) no-repeat right bottom;
}
section.conversion .request .inner{
	color: #fff;
	background: url(../images/cvs-catalog.png) no-repeat left bottom #596370;
}
section.conversion h2 {
	font-size: 18px;
}
section.conversion h2:after {
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	margin: 20px auto 10px auto;
}
section.conversion .survey h2:after {
	background: #6b7a82;
}
section.conversion .request h2:after {
	background: -moz-linear-gradient(45deg, #f7e268 0%, #6ecbeb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e268', endColorstr='#6ecbeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
section.conversion p {
	font-size: 24px;
	margin: 0 0 15px 0;
}
section.conversion div.btn a {
	width: 340px;
	height: 60px;
	line-height: 56px;
	display: block;
	border-radius: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding: 0 0 5px 0;
	margin: 0 auto;
}
section.conversion .survey div.btn a {
	background: #6b7a82;
	color: #fff;
}
section.conversion .survey div.btn a:hover {
	background: #fff;
	color: #6b7a82;
}
section.conversion .request div.btn a {
	background:#6b7a82;
	background: -moz-linear-gradient(45deg, #f7e268 0%, #6ecbeb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e268', endColorstr='#6ecbeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #6b7a82;
}
section.conversion .request div.btn a:hover {
	background: #fff;
	color: #6b7a82;
}
/*================================
	Footer
================================*/
#Footer {
	background: #6b7582 url(../images/brand-bg.gif) no-repeat bottom right;
	color: #fff;
}
#FooterInner {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
	padding: 60px 0;
}
#Footer .company {
	float: left;
	padding: 0 0 30px 0;
}
#Footer .company h2,
#Footer .company p{
	display: inline-block;
	vertical-align: middle;
}
#Footer .company p{
	line-height: 2;
	padding: 5px 0 10px 30px;
	margin: 0 0 0 30px;
	border-left:#979faa solid 1px;
}
#Footer nav {
	float: right;
}
#Footer nav li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 20px;
	padding: 40px 0 0 0;
}
#Footer nav a{
	color: #fff;
}
#Footer small {
	clear: both;
	display: block;
	border-top: 1px solid #979faa;
	padding: 30px 0 0 0;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
}
/*--------------------------------------------------------------------------
	Smart Phone
---------------------------------------------------------------------------*/

@media all and (max-width: 767px){
body {
	width: 100%;
	overflow: hidden;
	min-width: 320px;
	font-size: 12px;
}
/*================================
	Header
================================*/

#Title {
	width: 100px;
	height: 90px;
}
#Title a{
	width: 100px;
	height: 90px;
	line-height: 90px;
}
#Title img {
	width: 60px;
	height: auto;
}

/*================================
	Nav
================================*/
#Nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 320px;
	height: 100%;
	background: #343e49;
	z-index: 100000;
}
#Nav:before {
	content: "";
	display: block;
	width: 100%;
	height: 60px;
}
#Nav:after {
	content: url(../images/close.png);
	position: fixed;
	top: 20px;
	right: 30px;
}
#Nav.active {
	animation: navMove 0.25s alternate ease-out;
	-ms-animation: navMove 0.25s alternate ease-out;
	-webkit-animation: navMove 0.25s alternate ease-out;
	-moz-animation: navMove 0.25s alternate ease-out;
}
#Header .menu {
	display: block;
	position: absolute;
	top: 90px;
	right: 0;
	width: 100px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	z-index: 1;
}
#Header .menu {
	background: #535f6c;
}
#Header .menu img {
	vertical-align: middle;
}
#GlobalNav {
	display:block;
	height: auto;
	padding:0 20px;
	border-top: 1px solid rgba(255,255,255,0.1);
}
#GlobalNav li {
	display: block;
	margin: 0 0 0 0;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
#ConversionNav {
	position: absolute;
	top:auto;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 320px;
}
#ConversionNav li {
	display: block;
	float: right;
	width: 50%;
	margin: 0;
}
#ConversionNav li:last-child {
	padding: 0 1px 0 0;
}
#ConversionNav li a{
	width: 100%;
	height: auto;
	line-height: 70px;
}
#ConversionNav li a:before {
	display: none;
}
#ConversionNav li a:hover:before{
	display: none;
}
#ConversionNav li a:hover{
	color: #fff;
}

#GlobalNav li a {
	padding: 20px;
}
#GlobalNav li a:after {
	display: none;
}
#GlobalNav li.active a:after,
#GlobalNav li a:hover:after{
	width: 100%;
}

/*================================
	section
================================*/
section div.section-inner {
	padding: 15px;
}
#Contents section {
	padding: 50px 0;
}
#Contents div.section-inner h2 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 5px;
}
#Contents div.section-inner h2 span {
	display: block;
	font-size: 12px;
	margin: 10px 0 0 0;
	letter-spacing: 3px;
}
#Contents div.section-inner h2 span:after{
	content: "";
	display: block;
	width: 100%;
	height: 15px;
	margin: 10px 0 0 0;
	background: url(../images/ico-curve.png) no-repeat center top;
	background-size: 40px auto;
}
#Contents h3 {
	font-size: 16px;
}
#Contents h4 {
	font-size: 14px;
}

#Contents .wrap:after {
	content: "";
	display: block;
	clear: both;
}
#Contents .wrap > div {
	width: 100%;
	float: none;
}
#Contents .wrap > div:nth-child(odd) {
	padding: 0 0 0 0;
}
#Contents .wrap > div:nth-child(even) {
	padding: 0 0 0 0;
}
/*================================
	conversion
================================*/

section.conversion > div{
	width: 100%;
	float: none;
	text-align: center;
	height: 220px;
	font-weight: bold;
}

section.conversion .inner{
	width: 100%;
	height: 220px;
	padding: 45px 0 0 0;
}
section.conversion h2 {
	font-size: 14px;
	letter-spacing: 1px;
}
section.conversion h2:after {
	width: 20px;
	margin: 10px auto 10px auto;
}
section.conversion p {
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0 0 15px 0;
}
section.conversion div.btn a {
	width: 280px;
	height: 50px;
	font-size: 16px;
	line-height: 48px;
}
/*================================
	Footer
================================*/
#FooterInner {
	padding: 40px 0;
	text-align: center;
}
#Footer .company {
	float: none;
	padding: 0 0 0 0;
}
#Footer .company h2,
#Footer .company p{
	display: block;
}
#Footer .company p{
	line-height: 2;
	padding: 15px 0 10px 0;
	margin: 0 0 0 0;
	border-left:none;
}
#Footer nav {
	float: none;
}
#Footer nav li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	padding: 20px 0 0 0;
}
#Footer small {
	font-size: 10px;
	letter-spacing: 0;
}
}