@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700');
@charset "utf-8";

/**
 *
 * global: サイト共通
 *
 */


/*--------------------------------------------------------------------------
	reset
---------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
*{-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
ul,ol,li,dl,dt,dd{list-style-type:none;list-style-position:outside;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{text-decoration:none;}
img{vertical-align:top;border:0;image-rendering: optimizeQuality;-ms-interpolation-mode: bicubic;}
del{text-decoration:line-through;}
hr{display:block;height:0;border:0;margin:0;padding:0;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
em,strong{ font-weight: bold;}

input,select,textarea{margin:0;padding:0;vertical-align:baseline;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}

img {max-width: 100%;}

/*--------------------------------------------------------------------------
	basic elements
---------------------------------------------------------------------------*/
html{
	overflow-y: scroll;
}
body{
	background: #f6f7f9;
	font-family: 'Dosis','Noto Sans Japanese', "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	font-size: 14px;
	color: #53616c;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
a {
	color: #4b5664;
	outline:none;
	display:inline-block;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(107, 117, 130, 0.4);
}
a,a:before,a:after {
	-webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
a:hover {color:#4b5664;}

/****************************
 HELPER
****************************/
.centering {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.shadow {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

/*--------------------------------------------------------------------------
	Tablet
---------------------------------------------------------------------------*/

@media all and (max-width: 1024px) {

}

/*--------------------------------------------------------------------------
	Smart Phone
---------------------------------------------------------------------------*/

@media all and (max-width: 767px){

}
