@charset "utf-8";

/**
 *
 * index: トップページ
 *
 */

/*================================
	Keyvisual
================================*/
#Keyvisual {
	margin: -100px 0 0 0;
	width: 100%;
	background: #6b7581;
	overflow: hidden;
}
#Keyvisual h2 {
	padding: 50px 0 0 0;
	position: relative;
	z-index: 100;
}
#Keyvisual h2 span {
	display: block;
	overflow: hidden;
	margin: 0 0 26px 0;
	position: relative;
	opacity: 0;
}
#Keyvisual h2 span.anime:nth-of-type(1){
	animation: slideInLeft 1s alternate 1s ease-in-out;
	-ms-animation: slideInLeft 1s alternate 1s ease-in-out;
	-webkit-animation: slideInLeft 1s alternate 1s ease-in-out;
	-moz-animation: slideInLeft 1s alternate 1s ease-in-out;
}
#Keyvisual h2 span.anime:nth-of-type(2){
	animation: slideInRight 1.15s alternate 1s ease-in-out;
	-ms-animation: slideInRight 1.15s alternate 1s ease-in-out;
	-webkit-animation: slideInRight 1.15s alternate 1s ease-in-out;
	-moz-animation: slideInRight 1.15s alternate 1s ease-in-out;
}
#Keyvisual h2 span.anime:nth-of-type(3){
	animation: slideInLeft 1.3s alternate 1s ease-in-out;
	-ms-animation: slideInLeft 1.3s alternate 1s ease-in-out;
	-webkit-animation: slideInLeft 1.3s alternate 1s ease-in-out;
	-moz-animation: slideInLeft 1.3s alternate 1s ease-in-out;
}
#Keyvisual h2 span.anime:nth-of-type(4){
	animation: slideInRight 1.5s alternate 1s ease-in-out;
	-ms-animation: slideInRight 1.5s alternate 1s ease-in-out;
	-webkit-animation: slideInRight 1.5s alternate 1s ease-in-out;
	-moz-animation: slideInRight 1.5s alternate 1s ease-in-out;
}
#Keyvisual h2 span.anime:nth-of-type(5){
	animation: slideInLeft 1s alternate 2s ease-in-out;
	-ms-animation: slideInLeft 1s alternate 2s ease-in-out;
	-webkit-animation: slideInLeft 1s alternate 2s ease-in-out;
	-moz-animation: slideInLeft 1s alternate 2s ease-in-out;
}
#Keyvisual h2 span:last-child{
	color: #fff;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 1.75;
}
#Keyvisual h2 span.active {
	opacity: 1;
}
#Keyvisual .perse {
	width: 1066px;
	height: 800px;
	position: absolute;
	top:0;
	left:250px;
}
#Keyvisual .illust {
	width: 0;
	height: 127px;
	position: absolute;
	bottom: 10%;
	left: 800px;
	overflow: hidden;
	background: url(../images/kv-illust.png) no-repeat left top;
	background-size: 237px auto;
	text-indent: 100%;
	white-space: nowrap;
	animation: illustSlideIn 1s alternate 3s ease-in-out;
	-ms-animation: illustSlideIn 1s alternate 3s ease-in-out;
	-webkit-animation: illustSlideIn 1s alternate 3s ease-in-out;
	-moz-animation: illustSlideIn 1s alternate 3s ease-in-out;
}
#Keyvisual .illust.active{
	width: 237px;
}
@keyframes illustSlideIn {
	0% {width:0}
	100% {width:237px;;}
}
@keyframes slideInLeft {
	0% {
		left:-50px;
		opacity: 0;
	}
	100% {
		left:0;
		opacity: 1;
	;}
}
@keyframes slideInRight {
	0% {
		right:-50px;
		opacity: 0;
	}
	100% {
		right:0;
		opacity: 1;
	;}
}

/*================================
	Topics
================================*/
#Topics {
	background: #535f6c;
	padding: 0 !important;
	color: #fff;
}
#Topics div.section-inner {
	padding: 30px 0 !important;
}
#Topics .pen {
	width: 419px;
	height: 258px;
	position: absolute;
	top: -120px;
	right: -100px;
	z-index: 50;
}
#Contents #Topics h2 {
	display: inline-block;
	font-size: 24px;
	color: #fff;
	vertical-align: middle;
}
#Contents #Topics dl,
#Contents #Topics dd,
#Contents #Topics dt{
	display: inline-block;
	vertical-align: middle;
}
#Contents #Topics dt{
	letter-spacing: 2px;
}
#Contents #Topics dt{
	padding: 0 30px;
}
#Contents #Topics a{
	color: #fff;
}

/*================================
	Gallery
================================*/
#Gallery {
	padding: 0 !important;
}
#Gallery .slider {
	width: 100%;
	background: #000;
	overflow: hidden;
	position: relative;
}
#Gallery .slider ul {
	position: relative;
	width: 100%;
}
#Gallery .slider li{
	width: 260px;
	float: left;
}
#Gallery .slider li img {
	width: 100%;
	height: auto;
}
#Gallery .slider ul.moveLeft{
	animation: moveLeft 100s linear infinite ;
}
@keyframes moveLeft {
	0% {left: 0;}
	100% {left:-5460px;}
}


/*================================
	About
================================*/
#About {
	padding-bottom:0 !important;
}
#About .pen {
	width: 419px;
	height: 258px;
	position: absolute;
	top: -210px;
	right: -100px;
}
#About > div.section-inner {
	padding: 0 0 230px 0;
}
#About h3 {
	margin: 0 0 15px 0;
}
#Contents #About .wrap .body {
	padding-top: 50px;
}

/*================================
	Solution
================================*/
#Solution {
	background: url(../images/solution-bg.gif) no-repeat bottom left #6b7582;
	position:relative;
}
#Solution div.section-inner{
	background: #fff;
	text-align: center;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
	position:relative;
	top: -190px;
}
#Solution h3 {
	height: 190px;
	padding: 60px 0 0 0;
	position: relative;
	letter-spacing: 3px;
	margin: 0 !important;
}
#Solution h3 span {
	display: block;
}
#Solution ul {
	overflow: hidden;
	background: #6b7582;
}
#Solution ul li{
	width: 33.3%;
	height: 300px;
	float: left;
	cursor: pointer;
}
#Solution ul li:nth-child(3n+3){
	width: 33.4%;
}
#Solution ul li:nth-of-type(1){
	background: url(../images/solution-img1.jpg) no-repeat center center;
	background-size: cover;
}
#Solution ul li:nth-of-type(2){
	background: url(../images/solution-img2.jpg) no-repeat center center;
	background-size: cover;
}
#Solution ul li:nth-of-type(3){
	background: url(../images/solution-img3.jpg) no-repeat center center;
	background-size: cover;
}
#Solution ul li:nth-of-type(4){
	background: url(../images/solution-img4.jpg) no-repeat center center;
	background-size: cover;
}
#Solution ul li:nth-of-type(5){
	background: url(../images/solution-img5.jpg) no-repeat center center;
	background-size: cover;
}
#Solution ul li:nth-of-type(6){
	background: url(../images/solution-img6.jpg) no-repeat center center;
	background-size: cover;
}
#Solution li div.body {
	width: 100%;
	height: 300px;
	padding: 0 30px;
	background: rgba(87,101,112,0.6);
	-webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
	position: relative;
}
#Solution li:hover div.body {
	background: rgba(87,101,112,0.3);
}
#Solution li.active div.body:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 196px;
	height: 196px;
}
#Solution li:nth-of-type(1).active div.body:before {
	background: url(../images/ico-sol3.png) no-repeat top center;
}
#Solution li:nth-of-type(2).active div.body:before {
	background: url(../images/ico-sol2.png) no-repeat top center;
}
#Solution li:nth-of-type(3).active div.body:before {
	background: url(../images/ico-sol1.png) no-repeat top center;
}
#Solution li:nth-of-type(4).active div.body:before {
	background: url(../images/ico-sol4.png) no-repeat top center;
}
#Solution li:nth-of-type(5).active div.body:before {
	background: url(../images/ico-sol5.png) no-repeat top center;
}
#Solution li:nth-of-type(6).active div.body:before {
	background: url(../images/ico-sol6.png) no-repeat top center;
}


#Solution li div.body .inner {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#Solution li h4 {
	color: #fff;
	display: inline-block;
	-webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
#Solution li h4:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	margin: 5px 0 0 0;
	background: -moz-linear-gradient(45deg, #f7e268 0%, #6ecbeb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e268', endColorstr='#6ecbeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
	opacity: 1;
}
#Solution li p {
	width: 100%;
	height: 0;
	overflow: hidden;
}
#Solution li.active div.body {
	background: -moz-linear-gradient(45deg, #f7e268 0%, #6ecbeb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f7e268 0%,#6ecbeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e268', endColorstr='#6ecbeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#Solution li.active h4:after {
	opacity: 0;
}
#Solution li.active h4{
	color: #53616c;
}
#Solution li.active p {
	height: auto;
	font-weight: bold;
	position: relative;
	z-index: 1;
}
#Solution div.btn {
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin: 0 0 0 -170px;
}
#Solution div.btn a {
	width: 340px;
	height: 60px;
	line-height: 56px;
	display: block;
	border: 2px solid #fff;
	border-radius: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 0 0 5px 0;
}
#Solution div.btn a:hover {
	background: #fff;
	color: #53616c;
}

/*================================
	Merit
================================*/
#Merit {
	background: #f2f4f6;
}
#Merit p.lead {
	padding: 50px 0;
	max-width: 800px;
	margin: 0 auto;
}
#Merit ul {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
}
#Merit ul li {
	background: #fff;
	margin: 0 0 2px 0;
}
#Merit ul li:after {
	content: "";
	display: block;
	clear: both;
}
#Merit ul li div.image {
	width: 35%;
}
#Merit ul li div.body {
	width: 65%;
	padding: 40px;
}
#Merit ul li:nth-child(odd) div.image {
	float: left;
	margin: 0 0 0 -30px;
}
#Merit ul li:nth-child(even) div.image {
	float: right;
	margin: 0 -30px 0 0;
}
#Merit ul li:nth-child(odd) div.body {
	float: left;
}
#Merit ul li:nth-child(even) div.body {
	float: right;
}
#Merit h3 {
	margin: 0 0 15px 0;
}

/*================================
	Brands
================================*/
#Brands {
	padding: 0 !important;
}
#Plan {
	padding: 80px 0 0 0;
	text-align: center;
	background: url(../images/brand-bg.gif) no-repeat top left #6b7582;
	position: relative;
	z-index: 100;
}
#Plan h2 {
	color:#fff !important;
	margin: 0 0 -80px 0;
}
#Plan h3 {
	background: #fff;
	padding: 20px 0;
}
#Plan .wrap{
	position: relative;
	top: 140px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
#Plan .wrap > div div.image {
	width: 100%;
	height: 340px;
	position: relative;
}
#Plan .free,#Plan .package {
	padding: 0 !important;
}
#Plan .free div.image {
	background: url(../images/brands-img-free.jpg) no-repeat center center;
	background-size: cover;
}
#Plan .package div.image {
	background: url(../images/brands-img-package.jpg) no-repeat center center;
	background-size: cover;
}
#Plan h4 {
	color: #fff;
	background: rgba(52,62,73,0.9);
	padding: 10px 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
#Plan p {
	color: #fff;
	padding: 40px;
	height: 140px;
}
#Plan .free p {
	background: #6b7582;
}
#Plan .package p {
	background: #767f8b;
}
#Options {
	text-align: center;
	padding: 210px 0 100px 0;
}
#Options h3 {
	margin: 0 0 50px 0;
}
#Options li {
	width: 250px;
	height: 250px;
	background: #fff;
	border-radius: 125px;
	border: 2px solid #b8bec6;
	vertical-align: middle;
	display: inline-block;
	padding: 45px 0 0 0;
	margin: 0 15px 20px 15px;
}
#Options li div.image {
	width: 130px;
	margin: 0 auto;
}
#Options h4 {
	font-size: 14px;
	margin: 10px 0 0 0;
}
/*--------------------------------------------------------------------------
	Smart Phone
---------------------------------------------------------------------------*/

@media all and (max-width: 767px){

/*================================
	Keyvisual
================================*/
#Keyvisual {
	margin: 0;
}
#Keyvisual h2 {
	padding: 70px 5px 0 5px;
}
#Keyvisual h2 span {
	display: block;
	margin: 0 0 18px 0;
}
#Keyvisual h2 span img {
	height: 26px;
	width: auto;
}
#Keyvisual h2 span:last-child{
	font-size: 13px;
	margin: 10px 0 0 0;
}
#Keyvisual .perse {
	width: 100%;
	height: auto;
	top:-50px;
	left:-40px;
}
#Keyvisual .illust {
	width: 0;
	height: 63px;
	bottom: 8%;
	left: 60%;
	background-size: 118px auto;
	text-indent: 100%;
	white-space: nowrap;
}
#Keyvisual .illust.active{
	width: 118px;
}
/*================================
	Topics
================================*/
#Topics {
	background: #535f6c;
	padding: 0 !important;
	color: #fff;
}
#Topics div.section-inner {
	padding:15px !important;
}
#Topics .pen {
	width: 180px;
	height: auto;
	position: absolute;
	top: -30px;
	right: -100px;
}
#Contents #Topics h2 {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	vertical-align: middle;
	max-width: 100px;
}
#Contents #Topics dl{
	display: inline-block;
	vertical-align: middle;
	line-height: 1.4;
	max-width: 200px;
	padding: 0 0 0 10px;
}
#Contents #Topics dt{
	letter-spacing: 2px;
	display: block;
}
#Contents #Topics dt{
	padding: 0 ;
}

/*================================
	Gallery
================================*/

#Gallery .slider li{
	width: 120px;
	float: left;
}
#Gallery .slider li img {
	width: 100%;
	height: auto;
}
#Gallery .slider ul.moveLeft{
	animation: moveLeft 60s linear infinite ;
}
@keyframes moveLeft {
	0% {left: 0;}
	100% {left:-2520px;}
}

/*================================
	About
================================*/
#About {
}
#About .pen {
	width: 180px;
	height: auto;
	position: absolute;
	top: -100px;
	right: 0px;
}
#About > div.section-inner {
	padding: 0 15px;
}
#About h3 {
	margin: 0 0 10px 0;
}
#Contents #About .wrap .body {
	padding: 20px 0 40px 0;
}
#About div.image {
	padding: 20px 0 0 0 !important;
}
/*================================
	Solution
================================*/
#Solution {

	padding-bottom: 160px;

}
#Solution div.section-inner{
	top: 0;
}
#Solution h3 {
	height: auto;
	padding: 30px 0;
}
#Solution h3 img {
	width: 200px;
}
#Solution ul {
	background: none;
}
#Solution ul li{
	width: 100%;
	height: 200px;
	float: none;
	margin: 0 0 2px 0;
}
#Solution ul li:nth-child(3n+3){
	width: 100%;
}
#Solution li div.body {
	width: 100%;
	height: 200px;
	padding: 0 10px;
}
#Solution li:hover div.body {

}

#Solution div.btn {
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin: 0 0 0 -140px;
}
#Solution div.btn a {
	width: 280px;
	font-size: 13px;
}
#Solution div.btn a:hover {
	background: none;
	color: #fff;
}

/*================================
	Merit
================================*/
#Merit {
	background: #f2f4f6;
}
#Merit p.lead {
	padding: 30px 0;
	max-width: 800px;
	margin: 0 auto;
}
#Merit ul {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.0);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.0);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.0);
}
#Merit ul li{
	max-width: 290px;
	margin: 0 auto 30px auto;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
}
#Merit ul li div.image {
	width: 100%;
}
#Merit ul li div.body {
	width: 100%;
	padding: 15px;
}
#Merit ul li:nth-child(odd) div.image {
	float: none;
	margin: 0;
}
#Merit ul li:nth-child(even) div.image {
	float: none;
	margin: 0;
}
#Merit ul li:nth-child(odd) div.body {
	float: none;
}
#Merit ul li:nth-child(even) div.body {
	float: none;
}
#Merit h3 {
	margin: 0 0 10px 0;
}
/*================================
	Brands
================================*/

#Plan {
	padding: 50px 0 0 0;
}
#Plan h2 {
	color:#fff !important;
	margin: 0 0 -100px 0;
}
#Plan h3 {
	background: #fff;
	padding: 12px 20px;
}
#Plan .wrap{
	position: relative;
	top: 130px;
	max-width: 320px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.0);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.0);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.0);
}
#Plan .wrap > div div.image {
	width: 100%;
	height: 240px;
	position: relative;
}
#Plan .free,#Plan .package {
	padding: 0 !important;
}
#Plan h4 {
	padding: 8px 0;
}
#Plan p {
	color: #fff;
	padding: 20px 10px;
	letter-spacing: 1px;
	height: auto;
}
#Plan .free,#Plan .package{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	margin: 0 0 30px 0;
}
#Plan .free p {
	background: #767f8b;
}
#Plan .package p {
	background: #767f8b;
}
#Options {
	text-align: center;
	padding: 120px 0 60px 0;
}
#Options h3 {
	margin: 0 0 20px 0;
	font-size: 14px;
}
#Options li {
	width: 120px;
	height: 120px;
	background: #fff;
	border-radius: 60px;
	border: none;
	vertical-align: middle;
	display: inline-block;
	padding: 20px 0 0 0;
	margin: 0 10px 25px 10px;
}
#Options li div.image {
	width: 60px;
	margin: 0 auto;
}
#Options h4 {
	font-size: 10px;
	margin: 5px 0 0 0;
}
}


#Banner div.section-inner {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 0 80px 0;
}
#Banner .banner {
	display: block;
	overflow: hidden;
	background: #fff url(../about/images/banner-bg.gif) no-repeat right bottom;
}
#Banner div.image {
	height: 170px;
	width: 50%;
	float: left;
	background: url(../about/images/banner-img.jpg) no-repeat center center;
}
#Banner div.body {
	width: 50%;
	float: left;
}
#Banner h4 {
	line-height: 170px;
	padding: 0 0 0 40px;
	background: url(../about/images/ico-arrow-right.png) no-repeat center right 40px;
}

/*--------------------------------------------------------------------------
	Smart Phone
---------------------------------------------------------------------------*/

@media all and (max-width: 767px){

#Banner div.section-inner {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 15px 30px 15px;
}
#Banner div.image {
	height: 170px;
	width: 100%;
	float: none;
}
#Banner div.body {
	width: 100%;
	float: none;
}
#Banner h4 {
	line-height: 60px;
	padding: 0 0 0 20px;
	background: url(../about/images/ico-arrow-right.png) no-repeat center right 20px;
	background-size: 10px;
}

}
