@charset "utf-8";
/**
 *
 * lower: 下層ページ
 *
 */
/*================================
	Keyvisual
================================*/
#Keyvisual {
	margin: -100px 0 0 0;
	width: 100%;
	height: 530px;
	background: #6b7581;
	overflow: hidden;
}
#Keyvisual div.section-inner {
	width: 100%;
	height: 530px;
}
#Keyvisual h1 {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 250px;
}
#Keyvisual h1 span {
	display: block;
	margin: 20px 0 0 0;
}
#Keyvisual h1 span{
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 1.75;
}
#Keyvisual .perse {
	width: 100%;
	height: auto;
	position: absolute;
	top:0;
	left:150px;
}
/*================================
	Contents
================================*/
#Contents section div.section-inner h2 {
	margin: 0 0 60px 0;
}
#Contents table {
	line-height: 2;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
#Contents table th{
	text-align: left;
}
#Contents table th,
#Contents table td{
	padding: 15px 15px 15px 0;
	vertical-align: text-top;
	border-bottom: 1px solid #e0e5eb;
	letter-spacing: 1px;
}


/*--------------------------------------------------------------------------
	Smart Phone
---------------------------------------------------------------------------*/
@media all and (max-width: 767px){
/*================================
	Keyvisual
================================*/
#Keyvisual {
	margin: 0;
	height: 330px;
}
#Keyvisual h1 {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 50px;
	top: auto;
	padding: 0 0 0 0;
}
#Keyvisual h1 span {
	margin: 10px 0 0 0;
	font-size: 15px;
}
#Keyvisual h1 img {
	height: 24px;
}
#Keyvisual div.section-inner {
	width: 100%;
	height: 330px;
	padding: 0 ;
}
#Keyvisual .perse {
	width: 100%;
	height: auto;
	bottom:0;
	left:-60px;
}
#Keyvisual .perse img {
	max-width: none;
	width: 800px;
	height: auto;
}
/*================================
	Contents
================================*/
#Contents section div.section-inner h2 {
	margin: 0 0 30px 0;
}
#Contents table {
display: block;
width: 100%;
}
#Contents tr {
	display: block;
width: 100%;
}
#Contents table th,
#Contents table td{
	display: block;
	width: 100%;
	padding: 10px 10px 10px 15px;
}
#Contents table th{
	text-align: left;
	background: #fff;
}
#Contents table td{
	padding-bottom:20px;
}
}