@charset "utf-8";

/**
 *
 * PERFORMANCE: COMEの実績
 *
 */

/*------------------------------------------
	ContentsNav
------------------------------------------*/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}
#ContentsNav {
	max-width: 1180px;
	padding: 80px 0 0 0;
	margin: 0 auto;
}
#ContentsNav ul:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
}
#ContentsNav li {
	float: left;
	width: 25%;
	padding: 0 10px;
}
#ContentsNav li a {
	display: block;
	height: 240px;
	text-align: center;
	position: relative;
}
#ContentsNav li a[href="#Vol1"]{
	background: url(../images/voice1_thumb.jpg) no-repeat center center;
	background-size: cover;
}
#ContentsNav li a[href="#Vol2"]{
	background: url(../images/family-image.jpg) no-repeat center center;
	background-size: cover;
}
#ContentsNav li a div.centering {
	position: absolute;
	bottom:0;
	left: 0;
	top: auto;
	height: 60px;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	color: #fff;

	background:  rgba(83,95,108,1);
	width: 100%;
	-webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
#ContentsNav li a .title {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 3px;
	padding: 16px 0 0 0;
}
#ContentsNav li a .body {
	display: none;
	padding: 20px;
	line-height: 1.5;
	font-weight: 600;
}
#ContentsNav li a:hover div.centering {
	height: 240px;
	bottom:0;
	background: rgba(83,95,108,0.9);
	padding: 24% 0 0 0;
	letter-spacing: 1px;
}
#ContentsNav li a:hover .body {
	display: block;
}

/*------------------------------------------
	.performance
------------------------------------------*/
#Contents section.performance:first-child {
  padding: 80px 0 40px 0;
}

#Contents section.performance {
  padding-bottom: 40px;
}

#Contents section.performance {
  padding-top: 0;
}

#Contents section.performance {
  padding-top: 0;
}

#Contents section.performance div.section-inner{
	background: #fff url(../images/bg.gif) no-repeat left top 640px;
	position: relative;
}
section.performance p.vol {
	position: absolute;
	top: -20px;
	left: 20px;
}
#Contents section.performance h2 {
	background: #6b7582;
	color: #fff;
	font-size: 24px;
	letter-spacing: 1px;
	margin: 0 !important;
	padding: 30px;
}
section.performance .slider {
	width: 100%;
	position: relative;
	overflow: hidden;
}
section.performance .slider ul.main {
	overflow: hidden;
	position: relative;
}
section.performance .slider ul.main li {
	float: left;
}
section.performance .slider ul.thumbs{
	overflow: hidden;
	text-align: center;
	padding: 10px 0 30px 0;
	cursor: pointer;
}
section.performance .slider ul.thumbs li {
	width:15% !important;
	display: inline-block;
	border: 2px solid #fff;
	margin: 0 3px;
}
section.performance .slider ul.thumbs li.active {
	border: 2px solid #6b7582;
}
section.performance .concept {
	padding: 30px 70px 60px 70px;
	overflow: hidden;
}
section.performance .concept h3 {
	width: 25%;
	text-align: left;
	float: left;
	letter-spacing: 3px;
	padding: 0 0 0 0;
}
section.performance .concept p {
	width: 75%;
	float: left;
	border-left: 1px solid #ccd6df;
	padding: 0 0 0 50px;
}
section.performance .voice {
	padding: 60px 70px;
	border:3px solid #6b7582;
	background: #eff2f5;
}
section.performance .introduction {
	overflow: hidden;
}
section.performance .introduction div.image {
	width: 25%;
	float: left;
}
section.performance .introduction div.body {
	width: 75%;
	float: left;
	padding: 0 0 0 50px;
}
section.performance .introduction div.body h3 {
	margin: 0 0 15px 0;
}
section.performance .qa{
	line-height: 2;
	padding: 30px 0 0 0;
}
section.performance .qa dt {
	font-weight: bold;
}
section.performance .qa dd {
	padding: 0 0 20px 30%;
	margin: -2em 0 20px 0;
	border-bottom: 1px solid #d5d9e0;
}

#ContentsInner .accordionNav div.section-inner {
	max-width: 1180px;
	margin: 0 auto;
  cursor: pointer;
}
#ContentsInner .accordionNav .banner {
	display: block;
	overflow: hidden;
  background: #6b7582;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
#ContentsInner .accordionNav div.image {
	height: 210px;
	width: 400px;
	float: left;
	background: url(../images/banner-img.jpg) no-repeat center center;
	background-size: 400px 210px;
}
#Vol2 .accordionNav div.image {
	background: url(../images/banner-img02.jpg) no-repeat center center;
	background-size: 400px 210px;
}
#Vol3 .accordionNav div.image {
	background: url(../images/banner-img03.jpg) no-repeat center center;
	background-size: 400px 210px;
}
#Vol4 .accordionNav div.image {
	background: url(../images/banner-img04.jpg) no-repeat center center;
	background-size: 400px 210px;
}

#ContentsInner .accordionNav div.image_sp {
	display: none;
}

#ContentsInner .accordionNav div.body {
	width: 780px;
	float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
	height: 210px;
}

#ContentsInner .accordionNav div.body .txt_area {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

#ContentsInner .accordionNav div.body .ico-vol{
	margin-top: 7px;
  margin-left: 50px;
	width: 75px;
}
#ContentsInner .accordionNav h4 {
  position: relative;
  color: #fff;
  font-size: 24px;
	padding: 0 100px 0 40px;
	width: 680px;
}
#ContentsInner .accordionNav div.body:before {
  content: '';
  position: absolute;
  right: 40px;
  top: 50%;
  width: 22px;
  height: 16px;
	background: url(../images/ico-arrow-bottom.png) no-repeat center right;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
#ContentsInner .accordionNav .banner:hover,
#ContentsInner .accordionNav.active .banner {
  background: #fff;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
#ContentsInner .accordionNav .banner:hover h4 ,
#ContentsInner .accordionNav.active .banner h4 {
  color: #6b7582;
}
#ContentsInner .accordionNav .banner:hover div.body::before,
#ContentsInner .accordionNav.active .banner div.body::before {
  content: '';
  position: absolute;
  right: 40px;
  top: 50%;
  width: 22px;
  height: 16px;
	background: url(../images/ico-arrow-bottom_on.png) no-repeat center right;
  transform: translateY(-50%) rotate(180deg);
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}



#ContentsInner .case_detail {
}
section.conversion {
	padding-top: 40px!important;
}

/*--------------------------------------------------------------------------
	Smart Phone
---------------------------------------------------------------------------*/

@media all and (max-width: 767px){
	section.conversion {
		padding-top: 40px!important;
	}
/*------------------------------------------
	ContentsNav
------------------------------------------*/
#ContentsNav {
	padding: 40px 0 0 0;
}
#ContentsNav li {
	float: none;
	width: 100%;
	padding: 0 15px;
	margin: 0 0 15px 0;
}
#ContentsNav li a {
	height: 180px;
}

#ContentsNav li a div.centering {
	height: 40px;
}
#ContentsNav li a .title {
	padding: 10px 0 0 0;
	font-size: 16px;
}
#ContentsNav li a:hover .body {
	display: none;
}
#ContentsNav li a:hover div.centering {
	height: 40px;
	background: rgba(83,95,108,1);
	padding: 0 0 0 0;
}

/*------------------------------------------
	.performance
------------------------------------------*/
#Contents section.performance div.section-inner{
	padding: 0;
}
#Contents section.performance:first-child {
    padding: 40px 0 40px 0;
}
#Contents section.performance {
    padding-top: 0;
}
#Contents section.performance {
    padding-bottom: 40px;
}


#ContentsInner .accordionNav div.image {
	display: none;
}
#ContentsInner .accordionNav div.image_sp {
	display: block;
}
#ContentsInner .accordionNav div.body {
    width: 100%;
    float: none;
    height: auto;
		padding: 27px 0;
}
#ContentsInner .accordionNav div.body .ico-vol{
  margin-left: 25px;
	width: 50px;
}
#ContentsInner .accordionNav div.body .ico-vol img{
	width: auto;
}
#ContentsInner .accordionNav h4 {
  position: relative;
  color: #fff;
  font-size: 15px;
	padding: 0 60px 0 20px;
	width: 82%;
}

#ContentsInner .accordionNav div.body:before {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  width: 13px;
  height: 9px;
	background: url(../images/ico-arrow-bottom.png) no-repeat center right;
	background-size: cover;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
#ContentsInner .accordionNav .banner:hover {
	background: #6b7582;
}

#ContentsInner .accordionNav.active .banner {
  background: #fff;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#ContentsInner .accordionNav .banner:hover h4 {
	color: #ffffff;

}

#ContentsInner .accordionNav.active .banner h4 {
  color: #6b7582;
}

#ContentsInner .accordionNav .banner:hover div.body::before {
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	width: 13px;
	height: 9px;
	background: url(../images/ico-arrow-bottom.png) no-repeat center right;
	background-size: cover;
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;

}

#ContentsInner .accordionNav.active .banner div.body::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  width: 13px;
  height: 9px;
	background: url(../images/ico-arrow-bottom_on.png) no-repeat center right;
	background-size: cover;
  transform: translateY(-50%) rotate(180deg);
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}



section.performance p.vol {
	height: 30px;
}
section.performance p.vol img {
	height: 100%;
	width:auto;
}
#Contents section.performance h2 {
	line-height: 1.5;
	padding: 20px;
	font-size: 18px;
}
section.performance .slider ul.thumbs li {
	width:20% !important;
}
section.performance .concept {
	padding: 0 15px 30px 15px;
}
section.performance .concept h3 {
	width: 100%;
	text-align: center;
	float: none;
	padding: 0 0 10px 0;
}
section.performance .concept p {
	width: 100%;
	float: none;
	border-left: none;
	padding: 0;
}
section.performance .voice {
	padding: 20px 15px;
	border:2px solid #6b7582;
}
section.performance .introduction div.image {
	width: 100%;
	float: none;
	margin: 0 0 15px 0;
}
section.performance .introduction div.body {
	width: 100%;
	float: none;
	padding: 0;
}
section.performance .introduction div.body h3 {
	margin: 0 0 5px 0;
}
section.performance .qa{
	padding: 20px 0 0 0;
}
section.performance .qa dt {
	font-weight: bold;
	font-size: 16px;
}
section.performance .qa dd {
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #d5d9e0;
}

}
