	@charset "utf-8";

/**
 *
 * contact: お問い合わせ
 *
 */

/*--------------------------------------------------------------------------
	Contents
---------------------------------------------------------------------------*/
#Contents section {
	padding: 0 80px ;
}
#Contents .txt {
	max-width: 902px;
	margin: 0 auto;
}
#Contents .txt p{
	padding: 60px 0 50px 0 ;
}
#Contents .required {
	background: #535f6c;
	color: #fff;
	padding: 3px 8px;
	border-radius: 3px;
	margin-right: 10px;
}

/*--------------------------------------------------------------------------
	contact
---------------------------------------------------------------------------*/
#Contact .section-inner {
	max-width: 902px;
	margin: 0 auto;
	background: #f6f7f9;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
}
#Contact .required {
	background: #535f6c;
	color: #fff;
	padding: 3px 8px;
	border-radius: 3px;
	margin-right: 10px;
}
#Contact .any {
	background: #b4bbc9;
	color: #fff;
	padding: 3px 8px;
	border-radius: 3px;
	margin-right: 10px;
}

#Contact .form-frame {
	padding: 0  ;
}
#Contact .center{
	padding: 80px 0;
	text-align: center;
}
#Contact.form-flow li.active {
    background: #535f6c;
	color: #fff;
	position: relative;
}
.form-flow li:nth-child(3) {
    width: 33%;
}
.form-flow li:nth-child(3) span{
	color: #fff;
}
#Contact ol {
	overflow: hidden;
}
.form-flow li {
    float: right;
    position: relative;
    width: 33%;
    height: 70px;
    box-sizing: border-box;
    padding-left: 10px;
    background: #e9ecf2;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
	padding:  70px 0 0 0;
}

.form-flow span {
	position: absolute;
	top:50%;
	margin: -12px 0 0  -35px;
	color: #929fae;
}
.form-flow li:nth-child(1){
	color: #fff;
	background: #e9ecf2;
}
.form-flow li:nth-child(2){
	position: relative;
	color: #fff;
	background: #e9ecf2;
	}
.form-flow li:nth-child(3){
	width: 34%;
	}
.form-flow li:nth-child(3):after{
	border-left: 25px solid #535f6c;
}
 .form-flow li.active {
	background:#535f6c;
	}
#Contact .form-flow li:after{
	content: "";
	position: absolute;
	right: -322px;
	top: 0;
	width: 0;
	border-top: 35px solid transparent; 
	border-bottom: 35px solid transparent;
	}

.form-flow li.active span {
	color: #fff;
}
#Contact table.form-tbl th {
	padding:30px 20px ;
	background: #fafbfc;
	width: 34%;
}
#Contact table.form-tbl td {
	padding: 30px 30px ;
	background: #fff;
}
#Contact table tr:last-child td .input-base {
	padding: 20px 30px 200px 30px ;
}
#Contact table td li {
	margin: 0 10px ;
	display: inline-block;
	color: #53616c;
	font-weight: bold;
}
#Contact table td li p{
	display: inline-block;
	margin: 0 10px ;
}
.form-flow li.active:after {
	right: -358px;
}
.yoyaku {
	border: none;
}

.input-base,
.form-txt-area{
	width: 100%;
	margin: 5px 0;
	padding: 15px 30px;
	background: #f3f5f8;
	border:none;
	color: #929fae;
	font-size: 14px;
	-webkit-appearance: none;
	outline:0;
	border:1px solid #edf0f2;
	-webkit-transition: all 0.5s ease; */
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;	
}
.input-base:hover {
	background: #fff;
    border: 1px solid #e7e8e9;
}
#Contact .privacy {
	padding: 45px 30px 50px 30px;
	background: #f3f5f8;
	overflow-y: scroll;
	width: 100%;
	height: 300px;
	background-color: #fff;
	scrollbar-base-color: #636e79;
}
#Contact .privacy h3 {
	padding: 0px 0 25px 0px;
}
#Contact .privacy li {
	line-height: 30px;
	font-family: "Noto Sans Japanese";
}
.form-submit {
	width: 100%;
	text-align: center;
	padding: 60px 0 80px 0;
}
 .btn-submit {
	background: #6b7582;
	padding: 15px 75px;
	border-radius: 30px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	outline:none;
	 border: none;
	 -webkit-transition: all 0.8s ease; */
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
.btn-submit:hover {
	background: #fff;
	color: #6b7582;
	-webkit-transition: all 0.8s ease; */
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.06);
}

#Contact .form-txt-s {
	width: 50%;
}

input[type='button'].btn-zip {
	padding: 15px;
	color: #fff;
	border-style: none;
	background: #535f6c;
	font-size: 13px;
}


.btn-back {
	padding: 0 0 30px 0;
}


/*--------------------------------------------------------------------------
	Smart Phone
---------------------------------------------------------------------------*/

@media all and (max-width: 767px){
#Contents section {
	padding: 0px ;
}
	
#Contents .txt {
	padding: 0 15px;
}
	
/*--------------------------------------------------------------------------
	contact
---------------------------------------------------------------------------*/
#Contact {
		width: 100%;
		margin: 0 auto;
	}
#Contact .section-inner {
	padding: 0 15px;
}

.form-flow li:nth-child(3) {
    width: 34%;
	float: left;
}
.form-flow li {
    float: right;
    width: 33%;
    font-size: 14px;
	top: 50%;
    font-weight: 700;
    text-align: center;
	padding: 0px;
}
.form-flow span {
	position: absolute;
	margin: -5px 0 0 -28px ;
	color: #929fae;
}
/*入力画面の矢印*/
.form-flow li:nth-child(3):after{
	border-left: 6px solid #535f6c;
}
.form-flow li:after{
	content: "";
	position: absolute;
	left: 197%;
	top: 0;
	width: 0;
	border-top: 35px solid transparent; 
	border-bottom: 35px solid transparent;
	}
	/*-------------*/
#Contact tbody {
	display: block;
}
#Contact table.form-tbl th {
	width: 100%;
	padding:20px 15px ;
}
#Contact table.form-tbl td {
	width: 100%;
	padding: 20px 15px ;
	}
#Contact table tr:last-child td .input-base {
	padding: 20px 0px 200px 15px;
	}

#Contact table td li {
	display: inline-block;
}
#Contact table td li p{
	display: inline-block;
	margin: 0 10px ;
}
#Contact .input-base {
	width: 100%;
	padding: 15px 15px;
	background: #f3f5f8;
	border:none;
	color: #929fae;
	font-size: 14px;
	-webkit-appearance: none;
	outline:0;
	border:1px solid #edf0f2;
	-webkit-transition: all 0.5s ease; */
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;	
}
#Contact .privacy {
	padding: 30px 0px 40px 0;
	background: #f3f5f8;
}
#Contact .privacy h3 {
	padding: 0px 0 15px 0px;
}
#Contact .privacy li {
	line-height: 30px;
}
 .btn {
		padding: 0 15px;
	}

.form-submit {
	width: 100%;
	margin: 0 auto;
	padding: 60px 0 80px 0;
	text-align: center;
}
.btn-submit {
	width: 100%;
	padding: 15px 50px;
	font-size: 16px;
	border:none;
}
}


/*================================
	Keyvisual
================================*/

}
