@charset "utf-8";

/**
 *
 * ABOUT: COMEについて
 *
 */
 
/*------------------------------------------
	Market
------------------------------------------*/
#Contents #Market{
	padding:80px 30px 0 30px;
}
#Market p.lead {
	max-width: 800px;
	margin: 0 auto;
}
#Market .reserch{
	max-width: 100%;
	padding: 70px 0;
	background: #e9ecf2 url(../images/market-bg.png) no-repeat;
	background-position: center top 70px;
	margin: 60px 0 0 0;
}
#Market .reserch .wrap {
	max-width: 1180px;
	padding: 0 30px;
	margin: 0 auto;
}
#Market .reserch img {
	max-width: 280px;
	height: auto;
}
#Market .reserch h3{
	margin: 0 0 25px 0;
}
#Market .reserch h3,
#Market .reserch div.image{
	text-align: center;
}
#Market .reserch div.image span {
	display: block;
	margin: 20px 0 30px 0;
}
#Market .wrap p {
	letter-spacing: 1.3px;
}

/*------------------------------------------
	Vision
------------------------------------------*/
#Contents section#Vision {
	padding-bottom: 0;
}

#Vision .wrap div.image {
	position: relative;
	z-index: 2;
	padding: 0;
}
#Vision .wrap div.body{
	padding: 0 0 0 40px;
}
#Vision ul {
	overflow: hidden;
	position: relative;
	top: -60px;
	z-index: 1;
}
#Vision li {
	width: 25%;
	height: 520px;
	float:left;
	text-align: center;
	color: #fff;
	padding: 0 30px;
}
#Vision ul h3{
	color: #fff;
}
#Vision ul h3 span {
	display: block;
	font-size: 18px;
	margin: 0 0 8px 0;
}
#Vision li:nth-of-type(1){
	background: url(../images/vision-image1.jpg) no-repeat center center;
	background-size: cover;
}
#Vision li:nth-of-type(2){
	background: url(../images/vision-image2.jpg) no-repeat center center;
	background-size: cover;
}
#Vision li:nth-of-type(3){
	background: url(../images/vision-image3.jpg) no-repeat center center;
	background-size: cover;
}
#Vision li:nth-of-type(4){
	background: url(../images/vision-image4.jpg) no-repeat center center;
	background-size: cover;
}

/*------------------------------------------
	Performance
------------------------------------------*/
#Contents #Performance {
	padding: 0 0 0 0;
}
#Performance div.section-inner {
	padding: 40px;
	max-width: 100%;
}
#Performance .performance {
	background: #6b7582;
	overflow: hidden;
	margin: 0 0 40px 0;
}
#Performance .performance:nth-of-type(1){
	background: #6b7582 url(../images/bg-performance.gif) no-repeat;
	background-position: left 25% top -50px;
}
#Performance .performance:nth-of-type(2){
	background: #6b7582 url(../images/bg-performance.gif) no-repeat;
	background-position: right -100px bottom -80px;
}
#Performance .performance:nth-of-type(3){
	background: #6b7582 url(../images/bg-performance.gif) no-repeat;
	background-position: left 160px top -100px;
}
#Performance .title {
	width: 40%;
	float: left;
}
#Performance .performance:nth-of-type(2) .title {
	float: right;
}
#Performance .title h3 {
	font-size: 32px;
	line-height: 1.5;
	color: #fff;
	letter-spacing: 5px;
	font-weight: 600;
	position: relative;
	margin: 17% 0 0 60px;
	padding: 0 0 0 40px;
}
#Performance .title h3:after {
	content: "";
	display: block;
	width:20px;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 17%;
	left: 0;
	
}
#Performance .title h3 span {
	display: block;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
}
#Performance .slider {
	width: 60%;
	float: left;
	background: #000;
	overflow: hidden;
	position: relative;
}
#Performance .performance:nth-of-type(2) .slider{
	float: right;
}
#Performance .slider ul {
	position: relative;
	width: 100%;
}
#Performance .slider li{
	width: 33.3%;
	float: left;
}
#Performance .slider li img {
	width: 100%;
	height: auto;
}
#Performance .slider ul.moveLeft{
	animation: moveLeft 15s linear infinite ;
}
@keyframes moveLeft {
	0% {left: 0;}
	100% {left:-100%;}
}

#Banner div.section-inner {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 0 80px 0;
}
#Banner .banner {
	display: block;
	overflow: hidden;
	background: #fff url(../images/banner-bg.gif) no-repeat right bottom;
}
#Banner div.image {
	height: 170px;
	width: 50%;
	float: left;
	background: url(../images/banner-img.jpg) no-repeat center center;
}
#Banner div.body {
	width: 50%;
	float: left;
}
#Banner h4 {
	line-height: 170px;
	padding: 0 0 0 40px;
	background: url(../images/ico-arrow-right.png) no-repeat center right 40px;
} 

/*--------------------------------------------------------------------------
	Smart Phone
---------------------------------------------------------------------------*/

@media all and (max-width: 767px){

/*------------------------------------------
	Market
------------------------------------------*/
#Contents #Market{
	padding:40px 0 0 0;
}

#Market .reserch{
	max-width: 100%;
	padding: 170px 0 40px 0;
	background: #e9ecf2 url(../images/market-bg.png) no-repeat;
	background-position: center top 20px;
	background-size: 80%;
	margin: 30px 0 0 0;
}
#Market .reserch .wrap {
	padding: 0 15px;
	margin: 0 auto;
}
#Market .reserch img {
	max-width: 220px;
	height: auto;
}
#Market .reserch h3{
	margin: 0 0 10px 0;
}
#Market .reserch h3,
#Market .reserch div.image{
	text-align: center;
}
#Market .reserch div.image span {
	display: block;
	margin: 20px 0 10px 0;
}
#Market .reserch .left {
	padding: 0 0 30px 0 !important;
}
/*------------------------------------------
	Vision
------------------------------------------*/

#Vision .wrap div.body{
	padding: 0 0 20px 0;
}
#Vision .wrap div.image{
	padding: 0 0 10px 0;
}
#Vision ul {
	top: 0;
}
#Vision li {
	width: 100%;
	height: auto;
	float:none;
	text-align: center;
	color: #fff;
	height: 240px;
	padding: 5px 20px 0 20px;
	margin: 0 0 1px 0;
}
#Vision ul h3 span {
	display: block;
	font-size: 18px;
	margin: 0 0 8px 0;
}

/*------------------------------------------
	Performance
------------------------------------------*/
#Performance div.section-inner {
	padding: 40px 0;
	max-width: 100%;
}
#Performance .performance {
	margin: 0 0 20px 0;
}
#Performance .performance:nth-of-type(1){
	background: #6b7582 url(../images/bg-performance.gif) no-repeat;
	background-position: left 25% top -50px;
}
#Performance .performance:nth-of-type(2){
	background: #6b7582 url(../images/bg-performance.gif) no-repeat;
	background-position: right -100px bottom -80px;
}
#Performance .performance:nth-of-type(3){
	background: #6b7582 url(../images/bg-performance.gif) no-repeat;
	background-position: left 160px top -100px;
}
#Performance .title {
	width: 100%;
	float: none;
}
#Performance .title h3 {
	font-size: 24px;
	letter-spacing: 3px;
	margin: 0;
	padding: 20px 0 20px 0;
	text-align: center;
}
#Performance .title h3:after {
	display: none;
}
#Performance .title h3 span {
	font-size: 14px;
}
#Performance .slider {
	width: 100%;
	float: none;
}
#Performance .slider ul {
	position: relative;
	width: 100%;
}
#Performance .slider li{
	width: 33.3%;
	float: left;
}

#Banner div.section-inner {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 15px 30px 15px;
}
#Banner div.image {
	height: 170px;
	width: 100%;
	float: none;
}
#Banner div.body {
	width: 100%;
	float: none;
}
#Banner h4 {
	line-height: 60px;
	padding: 0 0 0 20px;
	background: url(../images/ico-arrow-right.png) no-repeat center right 20px;
	background-size: 10px;
} 

}